{% include 'base.html' %}
{% block title %}
<title>Blog</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-2 card" style="padding: 10px; max-height: 1000px;">
                <div class="card-header">
                    {{ ctx.Title }}
                </div>
                <div class="card-body" id="mycontent">
                    {{ ctx.Content| safe }}
                </div>
            </div>
            <div class="mt-2 card" style="padding: 10px;">
                <div class="card-header">
                    <h3>Comment</h3>
                </div>
                <div class="card-body" id="mycontent">
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text" name="comment" class="form-control">
                            <button class="mt-2 btn btn-primary" type="submit">comment</button>
                        </form>
                    </div>
                    {% for i in comment %}
                        <div>
                            <strong>{{ i.user.username }}</strong>
                        </div>
                        <label for="">Komentar</label>
                        <div>
                            {{ i.coment }}
                        </div>
                        <hr>
                    {% endfor%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            const F = new Function("{{ ctx.Content }}")
            $('#mycontent').append(F)
        })
    </script>
{% endblock %}