{% include 'base.html' %}
{% block title %}
<title>Blog</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-2 card" style="padding: 10px; max-height: 1000px;">
                <div class="card-body">
                    <form class="form-group" id="form">
                        {% csrf_token %}
                        <div>
                            <label class="mb-2" for="">Title</label>
                            <input name="title" id="title" type="text" class="form-control">
                        </div>
                        <label class="mt-2" for="">Blog Content</label>
                        <div class="mt-2" id="summernote">
                        </div>
                        <div class="mt-2 d-flex justify-content-end">
                            <button class="mr-2 btn btn-secondary" type="button" onclick="window.location.href='/'">Back</button>
                            <button class="btn btn-primary" type="button" onclick="Post()">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>
    
    $(document).ready(function() {
        $('#summernote').summernote({
            fontname: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
            fontNamesIgnoreCheck: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New'],
            addDefaultFonts: false,
            placeholder: 'New Text .....',
            tabsize: 2,
            height: 800,
            toolbar: [
                ['style'],
                ['style', ['clear', 'bold', 'italic', 'underline']],
                ['fontname', ['fontname']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],       
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['view', ['codeview']]
            ]
        });
    })
    $('.note-btn .dropdown-toggle').removeAttr('data-toggle').attr('data-bs-toggle','dropdown')


    const Post = () => {
        const title = $('#title').val();
        const summernote = $('#summernote').summernote('code');
        $.ajax({
            url: "{% url 'create' %}",
            method: 'POST',
            data: { title: title, summernote: summernote},
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            },
            success: function(data){
                if (data == 'fail') {
                    alert('Gagal')
                    return false;
                }
                window.location.href = '{% url "home" %}'
            },
            error: function(error){
                console.log('error')
            }
        })
    }

    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
</script>
{% endblock %}