{% include 'base.html' %}
{% block title %}
<title>Blog</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-2 card" style="padding: 10px; max-height: 300px;">
                {% if request.user.is_authenticated  %}
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <img src="/{{ request.user.foto_profile }}" alt="" width="50">
                            <h3> <a href="/profile/{{request.user.id}}">{{request.user.username}}</a></h3>
                        </div>
                        <div>
                            <a href="/logout" class="btn btn-danger">Log out</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="{% url 'create' %}" class="btn btn-primary">Create Blog</a>
                </div>
                {% else %}
                <div class="card-body">
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-secondary">Register</a>
                </div>
                {% endif %}

            </div>
        </div>
        <div class="row">
            <div class="card mt-2">
                <div class="card-header">
                    <table class="table">
                        <thead>
                            <th>title</th>
                            <th>Author</th>
                            <th>public</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for content in ctx %}
                            <tr>
                                <td>
                                    <a type="button" href="#" onclick="window.open('/Detail-post/{{ content.id }}')">{{ content.Title }}</a>
                                </td>
                                <td>
                                    {{ content.Author }}
                                </td>
                                <td>
                                    {{ content.Publication }}
                                </td>
                                {% if content.Author.id == request.user.id %}
                                <td>
                                    <button class="btn btn-warning" type="button" onclick="Edit('{{ content.id }}')">edit</button>
                                    <button class="btn btn-danger" type="button" onclick="Delete('{{ content.id }}')">delete</button>
                                </td>
                                {% else %}
                                    <td><button class="btn btn-primary" type="button" onclick="follow('{{ content.Author.id }}')">follow</button></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('table').dataTable()
    })
    var follow = (id) => {
        $.ajax({
            url: '{% url "home" %}',
            method: 'POST',
            data: {id: id},
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            },
            success: function(data) {
                alert(data.data)
            }
        })
    }

    var Delete = (id) => {
        $.ajax({
            url: `delete/${id}`,
            method: 'DELETE',
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            },
            success: function(data) {
                window.location.reload();
            }
        })
    }

    var Edit = (id) => {
        window.open(`edit_post/${id}`)
    }

    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
</script>
{% endblock %}