{% include 'base.html' %}
{% block title %}
<title>Blog</title>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="d-flex mt-2 card" style="padding: 10px; max-height: 600px;">
                <div class="card-header">
                    Login Page
                </div>
                <div class="card-body" id="mycontent">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div>
                            <label for="">Username</label>
                            <input name="username" type="text" class="form-control">
                        </div>
                        <div>
                            <label for="">Password</label>
                            <input name="password" type="password" class="form-control">
                        </div>
                        <div class="mt-2">
                            <button class="ml-2 btn btn-primary" type="submit">Log in</button>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <a href="{% url 'register' %}" class="mr-2">Sign up</a>
                                <a href="{% url 'home' %}" class="mr-2">Home</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}