{% include 'base.html' %}
{% load static %}
{% block title %}
<title>Profile</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-2 card" style="padding: 10px; max-height: 300px;">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h3>{{request.user.username}}</h3>
                        </div>
                        <div>
                            <a href="/logout" class="btn btn-danger">Log out</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    
                    <img src="/{{ request.user.foto_profile }}" alt="">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="">profile</label>
                            <input type="file" name="file" class="form-control">
                        </div>
                        <button class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        $('table').dataTable()
    })
    var follow = (id) => {
        $.ajax({
            url: '{% url "home" %}',
            method: 'POST',
            data: {id: id},
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            },
            success: function(data) {
                alert(data.data)
            }
        })
    }

    var Delete = (id) => {
        $.ajax({
            url: `delete/${id}`,
            method: 'DELETE',
            headers: {
                "X-CSRFToken": getCookie('csrftoken')
            },
            success: function(data) {
                window.location.reload();
            }
        })
    }

    var Edit = (id) => {
        window.open(`edit_post/${id}`)
    }

    function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
</script>
{% endblock %}