{% include 'base.html' %}
{% block title %}
<title>Register</title>
{% endblock %}
{% load crispy_forms_tags %}  
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-2 card" style="padding: 10px; max-height: 700px;">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'home' %}">Home</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>

</script>
{% endblock %}